* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100dvh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.sidebar {
  margin-left: 20px;
  max-width: 300px;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.values-list {
  margin-top: 20px;
  text-align: left;
}

.values-list ul {
  list-style-type: none;
  padding: 0;
}

.values-list li {
  background: #fff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tickets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 40px;
}

.ticket {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.ticket div {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
